@use "@angular/material" as mat;

$theme: mat.define-theme();

.tertiary-button {
  @include mat.button-color($theme, $color-variant: tertiary);
}
.incompleted {
  color: #ef4444;
}
.completed {
  color: #22c55e;
}
mat-card {
  max-width: 100%;
}
mat-card-header {
  max-width: 100%;
  overflow-x: hidden;
}
