<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>{{ todo.title }}</mat-card-title>
    <mat-card-subtitle>Criada em: {{ todo.createdAt }}</mat-card-subtitle>
    <mat-card-subtitle>Data limite: {{ todo.dueDate }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions align="end">
    <a [routerLink]="['details/', todo.id]" routerLinkActive="active" mat-button
      >Detalhes</a
    >
    <a [routerLink]="['edit/', todo.id]" routerLinkActive="active" mat-button
      >Editar</a
    >
    <button class="tertiary-button" mat-button (click)="onDelete(todo)">
      Excluir
    </button>
  </mat-card-actions>
</mat-card>
