<form #addTodoForm="ngForm" (ngSubmit)="onSubmit()">
  <label for="title">Título da tarefa</label>
  <input type="text" name="title" placeholder="Comprar pão" ngModel />
  <label for="description">Descrição da tarefa</label>
  <textarea
    name="description"
    placeholder="Comprar pão na vendinha"
    ngModel
  ></textarea>
  <label for="dueDate">Data limite</label>
  <input
    type="datetime-local"
    name="dueDate"
    placeholder="Data limite"
    ngModel
  />
  <button type="submit">Criar</button>
</form>
