<form #addTodoForm="ngForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Título da tarefa</mat-label>
    <input matInput placeholder="Comprar pão" required />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Descrição da tarefa</mat-label>
    <textarea matInput placeholder="Comprar pão na vendinha"></textarea>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Data limite</mat-label>
    <input
      matInput
      placeholder="Comprar pão na vendinha"
      type="datetime-local"
      required
    />
  </mat-form-field>
  <button mat-flat-button>Criar</button>
</form>
